@mixin font-weight {
  font-weight: 200;

  @media (min-width: 1200px) {
    font-weight: 400;
  }
}

@mixin header-defaults {
  font-family: "Crimson Text", serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $lightPurple;
  font-size: $desktopHeaderSizeQuery;
  text-align: center;
}

@mixin text-shadow($color) {
  text-shadow: 0.25em 0.25em 0 $color;

  &:hover {
    color: $color;
    text-shadow: 0 0 0 $color;
  }
}
